<%= render "layouts/navigation" %>

<div class="mx-auto md:w-2/3 w-full">
  <h1 class="flex justify-center font-bold text-2xl">Payment Details</h1>
  <%= render "form", payment_detail: @payment_detail, customer: @customer%>
</div>
