<div class="mx-auto w-full">
  <% content_for :title, "Customer Tables" %>

  <div class="apple_pagination">
    <%= will_paginate @customer_tables, :container => false %>
  </div>

  <div class="flex justify-center items-center">
    <h1 class="font-bold text-4xl">Customer Tables</h1>
  </div>

  <div class="mt-2 grid grid-cols-3 mx-8">
    <h1 class="font-bold text-2xl">Table No</h1>
  </div>

  <div id="customer_table" class="w-full">
    <% @customer_tables.each do |table| %>
      <div class="grid grid-cols-3 mx-8">
        <h3>Table Number: <%= table.customer_table_number %></h3>
        <p>
          <%= link_to "Show this Customer table", table, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="apple_pagination">
    <%= will_paginate @customer_tables, :container => false %>
  </div>
</div>

