<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing order item</h1>

  <%= render "form", order_item: @order_item, customer: @customer %>

  <%= link_to "Back to order items", customer_path(@order_item.customer_id), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= button_to "Delete this order item", customer_order_item_path(@customer, @order_item), method: :delete, data: {turbo_confirm: "Are you sure?"},
                class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

</div>
