<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New order item</h1>

  <%= turbo_frame_tag "order_items_page" do %>
    <%= render "form", order_item: @order_item, customer: @customer %>
  <%end %>
</div>
